---
import "../../styles/category.css";
import GlobalLayout from "../../layouts/GlobalLayout.astro";

export const prerender = false; // Not needed in 'server' mode

const { category } = Astro.params;

import { getCollection, render } from "astro:content";
const collection = await getCollection(category);
---

<GlobalLayout path=`${Astro.url.pathname}`>
    <ul class="category">
        {
            collection.map((file) => (
                <li class="move-dir">
                    <a href={`/notes/${category}/${file.id}`}>/{file.data.title}</a>
                </li>
            ))
        }
    </ul>
</GlobalLayout>

<!-- src/notes/[category]/.astro -->
