---
import GlobalLayout from "../../layouts/GlobalLayout.astro";

import { getCollection } from "astro:content";
const notes = await getCollection("notesHtml");
---

<GlobalLayout>
    <ul>
        {
            notes.map((note) => (
                <li>
                    <a href={`/notes/html/${note.id}`}>{note.data.title}</a>
                </li>
            ))
        }
    </ul>
</GlobalLayout>
