---
import "../../styles/dir.css";
import GlobalLayout from "../../layouts/GlobalLayout.astro";
import { getCollection } from "astro:content";
const notes = await getCollection(`notesUnsorted`);
---

<GlobalLayout path=`${Astro.url.pathname}`>
    <ul class="dir">
        {
            notes.map((note) => (
                <li>
                    <a href={`/notes/unsorted/${note.id}`}>
                        /{note.data.title}
                    </a>
                </li>
            ))
        }
    </ul>
</GlobalLayout>

<!-- 
<style>
    ul {
        list-style-type: none;
    }

    ul li::before {
        content: "";
    }

    /* shiny navigation highlight */
    ul li:hover,
    ul li:focus {
        background-color: var(--background1);
        a {
            color: var(--gb-purple);
        }
    }

    /* please do not break my stuff */
    ul li a {
        display: block;
        width: 100%;
    }
</style> -->
