.browse-collection {
    list-style-type: none;
}

.browse-collection li::before {
    content: "";
}

/* shiny navigation highlight */
.browse-collection li:hover,
.browse-collection li:focus {
    background-color: var(--background1);

    a {
        color: var(--gb-purple);
    }
}

/* please do not break my stuff */
.browse-collection li a {
    display: block;
    width: 100%;
}