/* #file-content>* */
#file-content>p, 
#file-content>ul,
#file-content>hr {
    margin-bottom: 1lh;
}

#file-content table {
    border-spacing: 2ch 0lh;

    code {
        color: var(--gb-yellow);
        display: inline-block;
        background-color: var(--background1);
        padding-left: 1ch;
        padding-right: 1ch;

    }
}