/* CSS of article component contents */
/* WHY FILE? WHY NOT IN ARTICLE? CONSIDER LATER */

/* all text blocks are flex items with a gap */
/* very simple and controllable! */
#file-content {
    display: flex;
    flex-direction: column;
    gap: 1lh;
}

/* FOR TESTING (highlight all text blocks) */
/* #file-content>* {
    background-color: var(--background2);
} */

/* legible table */
#file-content table {
    border-spacing: 2ch 0lh;

    /* styling code in tables not natively possible */
    code {
        color: var(--gb-yellow);
        display: inline-block;
        background-color: var(--background1);
        padding-left: 1ch;
        padding-right: 1ch;
    }
}

#file-content {
    list-style-type: none;
}

/* remove ul list markers */
#file-content ul>li::before {
    content: "";
}

/* link navigation highlight thing */
/* standard styling unlike dir navigation!!! */
#file-content li a:hover,
#file-content li a:focus {
    background-color: var(--background1);
}

/* allows you to annotate list links below */
#file-content li a {
    display: block;
    width: 100%;
}


/* highlight advice segments */
.alert {
    color: var(--gb-red);
    font-weight: bold;
}

.caution {
    color: var(--gb-orange);
    font-weight: bold;
}

.recommended {
    color: var(--gb-green);
}