/* CSS of main content */
@layer base, utils, components;
@import "@webtui/css";
@import "@webtui/theme-gruvbox";
@import '@webtui/theme-catppuccin';
@import "@webtui/theme-nord";


@layer components {

    /* GRUVBOX */
    [data-webtui-theme|="gruvbox"] {
        #main-content .alert {
            --badge-color: var(--gb-red);
            --badge-text: var(--background0);
        }

        #main-content .caution {
            --badge-color: var(--gb-yellow);
            --badge-text: var(--background0);
        }

        #main-content .advice {
            --badge-color: var(--gb-green);
            --badge-text: var(--background0);
        }
    }

    /* CATPPUCCIN */
    [data-webtui-theme|="catppuccin"] {
        #main-content .alert {
            --badge-color: var(--maroon);
            --badge-text: var(--background0);
        }

        #main-content .caution {
            --badge-color: var(--pink);
            --badge-text: var(--background0);
        }

        #main-content .advice {
            --badge-color: var(--mauve);
            --badge-text: var(--background0);
        }
    }

    /* NORD */
    [data-webtui-theme|="nord"] {
        #main-content .alert {
            --badge-color: var(--nord11);
            --badge-text: var(--background0);
        }

        #main-content .caution {
            --badge-color: var(--nord12);
            --badge-text: var(--background0);
        }

        #main-content .advice {
            --badge-color: var(--nord13);
            --badge-text: var(--background0);
        }
    }
}

.alert,
.caution,
.advice {
    width: fit-content;
    /* --badge-color: var(--nord11);
    --badge-text: var(--background0); */
}

/* FOR TESTING (highlight all text blocks) */
/* #main-content>* {
    background-color: var(--background2);
} */

/* legible table */
#main-content table {
    border-spacing: 2ch 0lh;

    /* styling code in tables not natively possible */
    code {
        display: inline-block;
        padding-left: 1ch;
        padding-right: 1ch;
    }
}


/* link highlight thing */
/* default link styling!!! */
#main-content ul li a:hover {
    background-color: var(--background1);
}

#main-content ul li a {
    display: inline-block;
    width: calc(100% - 2ch);
}