---
// put into global layout later
import Sidebar from "../components/Sidebar.astro";
import Article from "../components/Article.astro";
import "../styles/global.css";
---

<html lang="en" data-webtui-theme="gruvbox-dark-medium">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>

	<body>
		<Sidebar />
		<Article />
	</body>
</html>

<style>
	body {
		display: flex;
		column-gap: 1ch;
		row-gap: 1lh;
		padding-top: 1lh;
		padding-bottom: 1lh;
		padding-left: 2ch;
		padding-right: 2ch;

	}

	html,
	body {
		height: 100vh;
		width: 100vw;
		overflow-x: hidden;
	}
</style>
