---
import GlobalLayout from "../layouts/GlobalLayout.astro";
---

<!-- 1. apply global layout to index -->
<GlobalLayout path=`${Astro.url.pathname}`>
    <p>Experiment to your heart's content</p>

    <p><a href="https://terminal-apps.dev/">Terminal Apps</a></p>

    <h1>In aspernatur nostrum est consequuntur velit?</h1><p>
        Lorem ipsum dolor sit amet. Et atque illo <em
            >Et Quis vel enim iste cum illum autem</em
        >. Quo delectus voluptas est vitae Quisex ipsam ut reprehenderit
        suscipit et provident eius. Est itaque eaque qui harum error <strong
            >Aut nemo</strong
        >.
    </p><ol>
        <li>In voluptas repellendus rem rerum officia.</li><li>
            At consequatur veniam nam dolor repellendus non velit enim!
        </li><li>Est soluta accusantium hic nobis aliquid?</li>
    </ol><h2>A perspiciatis doloribus est fugit enim.</h2><p>
        Est odit officia <em
            >Id tenetur et pariatur voluptatibus qui exercitationem distinctio</em
        >. Et aperiam voluptas in quas maxime <strong
            >Ea illum ad quas voluptatum ut galisum atque in perferendis
            exercitationem</strong
        >.
    </p><ul>
        <li>Non numquam omnis nam iste molestiae.</li><li>
            Eum numquam ipsa in ipsum quia est numquam architecto nam maiores
            cupiditate.
        </li><li>
            33 consequatur debitis id iure dolorem est asperiores labore.
        </li><li>In illo consectetur id quia fugit.</li><li>
            In veniam voluptate id officiis tempora non distinctio aperiam et
            soluta ratione.
        </li><li>Ea voluptas sint aut quidem quia.</li>
    </ul><h3>Non molestiae quaerat et consequatur quia.</h3><p>
        Sed delectus natus sed alias expedita <a
            href="https://www.loremipzum.com"
            target="_blank"
            rel="noopener noreferrer"
            >Est reprehenderit vel aspernatur ullam et autem quaerat cum nihil
            similique</a
        >. Qui voluptatem adipisci <em
            >Ad voluptas et totam sint et quis deserunt ex ipsam esse</em
        > aut nihil magnam ea dignissimos minus. Et nobis doloribus et omnis commodiUt
        incidunt est dolor dolores et esse enim et odio accusamus non maxime omnis.
    </p>
</GlobalLayout>
