---
import GlobalLayout from "../layouts/GlobalLayout.astro";
import Intro from "../components/Intro.astro";
---

<!-- 1. apply global layout to index -->
<GlobalLayout path=`${Astro.url.pathname}`>
    <Intro />

    <!-- <p><a href="https://terminal-apps.dev/">Terminal Apps</a></p> -->
</GlobalLayout>
