---
import GlobalLayout from "../layouts/GlobalLayout.astro";
---

<!-- 1. apply global layout to index -->
<GlobalLayout path=`${Astro.url.pathname}`>
    <p>Experiment to your heart's content</p>

    <p><a href="https://terminal-apps.dev/">Terminal Apps</a></p>
</GlobalLayout>
