---
import GlobalLayout from "../../layouts/GlobalLayout.astro";
---

<GlobalLayout title=`/stack/curios`>
    <p>Make a markdown page and display it here</p>
    <p>Too short for collection?</p>
</GlobalLayout>