---

---

<article box-="square contain:!top">
    <span is-="badge" variant-="background0">
        <h1>Page Title</h1>
    </span>
</article>

<style>
    article {
        flex-grow: 2;
    }
</style>
