---

---

<article box-="square contain:!top" class="box">
    <span is-="badge" variant-="background0">
        <h1>Page Title</h1>
    </span>

    <div id="inside">
        <p>
            texttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt
        </p>
    </div>
</article>

<style>
    article {
        border: 1px solid green;
    }

    #inside {
        /* overflow-y: auto; */
        overflow-x: hidden;
        /* height: 23lh; */
        padding: 1ch;
        border: 2px dotted red;
        text-wrap: wrap;
    }

    .box {
        --box-border-color: var(--background1);
    }
</style>
