---

---

<article box-="square contain:!top" class="box">
    <span is-="badge" variant-="background0">
        <h1>Page Title</h1>
    </span>

    <div id="page-content">
        <!-- <p>page content slot inside article component</p> -->
        <slot />
    </div>
</article>

<style>
    article {
        width: 100%;
        padding-bottom: 2lh;
        overflow-y: hidden;
        overflow-x: hidden;
        /* border: 1px solid green; */
    }

    #page-content {
        overflow-y: auto;
        max-height: 100%;
        padding: 2ch;
        text-wrap: wrap;
        /* border: 2px dotted red; */
    }

    .box {
        --box-border-color: var(--background1);
    }
</style>
