---

---

<article box-="square contain:!top" class="box">
    <span is-="badge" variant-="background0">
        <h1>Title</h1>
    </span>

    <div id="page-content">
        <slot />
    </div>
</article>

<style>
    article {
        /* article resizes to take up all remaining space */
        /* while sidebar doesn't */
        width: 100%;
        /* keep red content inside box */
        /* aligned with sidebar */
        padding-bottom: 2lh;

        /* when there's a very long word */
        /* overflow-x makes red and green border not extend */
        overflow-x: hidden;
        /* overflow-y removes body scroll bar */
        overflow-y: hidden;
        /* pulls up the box border? */
        height: 94vh;

        /* dev dimensions scaffolding */
        /* border: 2px solid green; */
    }

    #page-content {
        /* overflow-y gives red bar scroll */
        /* and keeps bottom text inside red box */
        overflow-y: auto;
        /* visual */
        padding: 2ch;
        /* not sure what it does */
        text-wrap: wrap;

        /* red's height matches green parent */
        /* rather than its own content */
        height: 100%;

        /* dev dimensions scaffolding */
        /* border: 2px dotted red; */
    }

    .box {
        --box-border-color: var(--background1);
    }
</style>
