---
// Usage: <Article title="# /dir/title" />
const { path } = Astro.props;
// WHY NOT ARTICLE CSS? CONSIDER LATER
import "../styles/file.css";
---

<article box-="square contain:!top" class="box">
    <!-- badge -->
    <span is-="badge" variant-="background0">
        <h1>{path}</h1>
    </span>

    <!-- below badge -->
    <div id="file-content">
        <!-- 4. index.astro arrives here -->
        <slot />
    </div>

    <!-- there's no reason for anything to be here -->
</article>

<style>
    article {
        /* article resizes to take up all remaining space */
        /* while sidebar doesn't */
        width: 100%;
        /* keep red content inside box */
        /* aligned with sidebar */
        padding-bottom: 2lh;

        /* when there's a very long word */
        /* overflow-x makes red and green border not extend */
        overflow-x: hidden;
        /* overflow-y removes body scroll bar */
        overflow-y: hidden;
        /* pulls up the box border? */
        height: 94vh;

        /* dev dimensions scaffolding */
        /* border: 2px solid green; */
    }

    #file-content {
        /* overflow-y gives red bar scroll */
        /* and keeps bottom text inside red box */
        overflow-y: auto;
        /* visual */
        padding: 2ch;
        /* not sure what it does */
        text-wrap: wrap;

        /* red's height matches green parent */
        /* rather than its own content */
        height: 100%;

        /* dev dimensions scaffolding */
        /* border: 2px dotted red; */
    }

    .box {
        /* --box-border-color: var(--background1); */
    }

    
</style>
