---

---

<article box-="square contain:!top" class="box">
    <span is-="badge" variant-="background0">
        <h1>Page Title</h1>
    </span>

    <div id="page-content">
        <slot />
    </div>
</article>

<style>
    article {
        width: 100%;
        padding-bottom: 2lh;
        /* overflow-y: hidden; */

        /* makes overflow red and green not extend beyond border */
        overflow-x: hidden;
        border: 2px solid green;
        overflow-y: hidden;

        /* this pulls up the box border? */
        height: 90vh;
    }

    #page-content {
        /* makes overflow text not clip into box border */
        overflow-y: auto;
        /* padding: 2ch; */
        text-wrap: wrap;
        border: 2px dotted red;

        /* max-height: 100%; */
        /* height: 100vh; */
        /* height: 80vh; */
        height: 100%;
    }

    .box {
        /* --box-border-color: var(--background1); */
    }
</style>
