---
import NoteLayout from "../layouts/NoteLayout.astro";

// receive directories from browse file page N/[id].astro
const { directories } = Astro.props;

// getCollection of matching name N
// assuming depth is /group/N/[id].astro
import { getCollection, render } from "astro:content";


// export async function getStaticPaths() {
//     const collection = await getCollection(directories[0]);
//     return collection.map((file) => ({
//         params: { id: file.id },
//         props: { file },
//     }));
// }

// export const prerender = false;

// const collection = await getCollection(directories[0]);
// return collection.map((file) => ({
//     params: { id: file.id },
//     props: { file },
// }));

// const { file } = Astro.props;
// const { Content, headings } = await render(file);
---

<!-- <NoteLayout
    frontmatter={file.data}
    path=`${Astro.url.pathname}`
    headings={headings}
>
    <Content />
</NoteLayout> -->
<p>a</p>
