---

---

<div id="card">
    <!-- <pre
        id="card-ascii">
        _nnnn_
        dGGGGMMb
       @p~qp~~qMb
       M|@||@) M|
       @,----.JM|
      JS^\__/  qKL
     dZP        qKRb
    dZP          qKKb
   fZP            SMMb
   HZM            MMMM
   FqM            MMMM
 __| ".        |\dS"qML
 |    `.       | `' \Zq
_)      \.___.,|     .'
\____   )MMMMMP|   .'
     `-'       `--' hjm
    </pre> -->

    <pre
        id="card-ascii">
                 $@$@@@
          @@        @@@
       @@    $  $ @@@@@
       @$ $$ @$ @ @@@@@
       @$ @@ @$ @ @@@@@
       @$ @@ @$ @ @@@@@
       @$ @@ @$ @ @@@@@
       @$ @@ @$ @ @@@@@
       @$ @@ @$ @ @@@@@
       @$ @@ @$ @ @@@@@
       @$ @@@$  $@@@@@@
       @$$$$$$$$$@@@@@@
     @@@@@@@@@@@@@@@@@@@$
    @@@@@@@@@@@@@@@@@@@@@@
    $$$$$$$$$$$$$$$$$$$$$$    
</pre>

    <span id="card-credits">
        Welcome!<br />
        TOSnotes<br />
        v0.3.0<br />
        https://github.com/touchofstatic<br />
        2025
    </span>
</div>

<style>
    #card {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        height: 100%;
        align-content: center;
    }

    #card-ascii {
        margin-left: 3ch;
        margin-right: 3ch;
    }

    #card-credits {
        align-self: center;
    }
</style>
