---

---

<aside box-="square contain:!top" class="box" id="files">
    <span is-="badge" variant-="background0">Files</span>

    <div id="files-inside">
        <summary>notes</summary>
        <ul marker-="open tree">
            <li class="move-dir"><a href="/notes/html/">HTML</a></li>
            <li class="move-dir"><a href="/notes/css/">CSS</a></li>
            <li class="move-dir"><a href="/notes/js/">JS</a></li>
            <li class="move-dir"><a href="/notes/astro/">Astro</a></li>
            <li class="move-dir"><a href="/notes/github/">Github</a></li>
            <li class="move-dir"><a href="/notes/other/">Other</a></li>
        </ul>

        <br />
        <summary>help</summary>
        <ul marker-="open tree">
            <li class="move-dir"><a href="/help/tools/">Tools</a></li>
            <li class="move-dir"><a href="/help/curios/">Curios</a></li>
            <li class="move-dir"><a href="/help/other/">Other</a></li>
        </ul>

        <br />
        <summary>study</summary>
        <ul marker-="open tree">
            <li class="move-dir"><a href="/study/classes/">Classes</a></li>
            <li class="move-dir"><a href="/study/lessons/">Lessons</a></li>
        </ul>
    </div>
</aside>

<style>
    span {
        /* limit too long badge */
        /* badge 3ch narrower than aside container */
        overflow-x: hidden;
        max-width: 16ch;
    }

    aside {
        /* fixed container width because I like it */
        width: 19ch;
        /* keep red content inside box */
        /* aligned with main */
        padding-bottom: 3lh;
        /* pulls up the box border? */
        height: 94vh;

        /* FOR TESTING */
        /* border: 2px solid green; */
    }

    /* hide sidebar when the window is narrow */
    /* IMPORTANT! site is usually open next to code editor */
    /* one tiny monitor dev moment kekw */
    /* (max width was chosen based entirely on my convenience) */
    @media screen and (max-width: 70ch) {
        aside {
            display: none;
        }
    }

    #files-inside {
        /* overflow-y gives red bar scroll */
        /* and keeps bottom text inside red box */
        overflow-y: auto;
        /* visual */
        padding-left: 1ch;
        padding-right: 2ch;

        margin-top: 1lh;
        /* content 2ch narrower than aside container */
        width: 17ch;

        /* red's height matches green parent */
        /* rather than its own content */
        height: 100%;

        /* FOR TESTING */
        /* border: 2px dotted red; */
    }

    .box {
        /* --box-border-color: var(--background1); */
    }

    /* please do not break my stuff */
    #files-inside li a {
        display: inline-block;
        width: calc(100% - 2ch);
    }
</style>
