---

---

<header>
    <a href="/" is-="badge">Index</a>
    <a href="/options" is-="badge">Options</a>
    <a href="/search" is-="badge">Search</a>
</header>

<style>
    header {
        display: flex;
        background-color: var(--foreground0);

    }

    /* LINK BUTTON HELL */
    a {
        text-decoration: none;
    }

    a:hover,
    a:focus {
        color: var(--gb-red);
        background-color: var(--background2);
    }
</style>
