---

---

<header>
    <a href="/" is-="badge">Index</a>
    <a href="/search" is-="badge">Search</a>
    <button id="view-btn" size-="small">View</button>
</header>


<style>
    summary {
        color: var(--background2);
    }

    header {
        display: flex;
        background-color: var(--foreground0);

        z-index: 99;
    }

    /* link button hell */
    a {
        text-decoration: none;
    }

    /* THEME-SPECIFIC COLORS */
    a:hover,
    a:focus {
        color: var(--foreground0);
        background-color: var(--background2);
    }
</style>
