---

---

<div id="intro-card">
    <!-- <pre
        id="intro-ascii">
        _nnnn_
        dGGGGMMb
       @p~qp~~qMb
       M|@||@) M|
       @,----.JM|
      JS^\__/  qKL
     dZP        qKRb
    dZP          qKKb
   fZP            SMMb
   HZM            MMMM
   FqM            MMMM
 __| ".        |\dS"qML
 |    `.       | `' \Zq
_)      \.___.,|     .'
\____   )MMMMMP|   .'
     `-'       `--' hjm
    </pre> -->

    <pre
        id="intro-ascii">
                 $@$@@@       
          @@        @@@       
       @@    $  $ @@@@@       
       @$ $$ @$ @ @@@@@       
       @$ @@ @$ @ @@@@@       
       @$ @@ @$ @ @@@@@       
       @$ @@ @$ @ @@@@@       
       @$ @@ @$ @ @@@@@       
       @$ @@ @$ @ @@@@@       
       @$ @@ @$ @ @@@@@       
       @$ @@@$  $@@@@@@       
       @$$$$$$$$$@@@@@@       
     @@@@@@@@@@@@@@@@@@@$     
    @@@@@@@@@@@@@@@@@@@@@@    
    $$$$$$$$$$$$$$$$$$$$$$             
    </pre>

    <span id="intro-credits">
        Welcome!<br /><br />
        TOSnotes<br />
        v0.2.1<br />
        https://github.com/touchofstatic<br />
        2025
    </span>
</div>

<style>
    #intro-card {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        height: 100%;
        align-content: center;
    }

    #intro-ascii {
        padding-right: 2ch;
        padding-left: 2ch;
    }

    #intro-credits {
        align-self: center;
    }
</style>
