---
// Usage: <Item title="# /dir/title" />
const { path } = Astro.props;
import "../styles/main.css";
---

<main box-="square" shear-="top" class="box">
    <!-- badge -->
    <span is-="badge" variant-="background0">
        <h1>{path}</h1>
    </span>

    <!-- below badge -->
    <div id="main-content">
        <!-- 4. index.astro arrives here -->
        <slot />
    </div>

    <!-- there's no reason for anything to be here -->
</main>

<style>
    main {
        /* main resizes to take up all remaining space */
        width: 100%;

        /* keep red content inside box aligned with sidebar */
        padding-bottom: 2lh;

        /* when there's a very long word overflow-x makes red and green border not extend */
        /* overflow-x: hidden; */
        /* UPDATE: caused red box problems with toc */

        /* overflow-y removes body scroll bar */
        /* overflow-y: hidden; */
        /* UPDATE: caused red box problems with toc */
        /* body scroll bar gone anyway?? */

        /* pulls up the box border I think*/
        height: 94vh;

        /* FOR TESTING */
        /* border: 2px solid green; */
    }

    #main-content {
        /* all text blocks are flex items with a gap */
        /* very simple and controllable! */
        display: flex;
        flex-direction: column;
        gap: 1lh;

        /* THIS IS WHAT RESOLVES CONFLICT BETWEEN TOC AND */
        /* MAIN'S COMMENTED OUT OVERFLOW PROPERTIES */
        /* in the long word error scenario */
        /* DO NOT REMOVE!!!!!!!!!!!!! */
        /* word-break: break-all; */
        word-break: break-word;

        /* overflow-y gives red bar scroll and keeps bottom text inside red box */
        /* DO NOT REMOVE!!!!!! */
        overflow-y: auto;

        /* visual */
        padding: 2ch;
        /* not sure what it does */
        text-wrap: wrap;

        /* red's height matches green parent */
        /* rather than its own content */
        height: 100%;

        /* FOR TESTING */
        /* border: 2px dotted red; */
    }

    .box {
        /* --box-border-color: var(--background1); */
    }
</style>
