---

---

<aside box-="square contain:!top" class="box">
    <span is-="badge" variant-="background0">Records</span>

    <div id="inside">
        <summary>notes</summary>
        <ul marker-="open tree">
            <li><a href="/notes/html/">HTML</a></li>
            <li><a href="/notes/css/">CSS</a></li>
            <li><a href="/notes/js/">JS</a></li>
            <li><a href="/notes/astro/">Astro</a></li>
            <li><a href="/notes/github/">Github</a></li>
            <li><a href="/notes/unspecified/">Unspecified</a></li>
        </ul>

        <br />
        <summary>support</summary>
        <ul marker-="open tree">
            <li><a href="/support/tools/">Tools</a></li>
            <li><a href="/support/guides">Guides</a></li>
            <li><a href="/support/curios/">Curios</a></li>
            <!-- that page confuses me/.... -->
            <!-- <li><a href="/support/links/">Links</a></li> -->
        </ul>

        <br />
        <summary>study</summary>
        <ul marker-="open tree">
            <li><a href="/study/classes/">Classes</a></li>
            <li><a href="/study/lessons/">Lessons</a></li>
        </ul>
    </div>
</aside>

<style>
    span {
        /* limit too long sidebar badge */
        /* badge 3ch narrower than aside container */
        overflow-x: hidden;
        max-width: 22ch;
    }

    aside {
        /* fixed sidebar container width because I like it */
        width: 25ch;
        /* keep red content inside box */
        /* aligned with article */
        padding-bottom: 3lh;
        /* pulls up the box border? */
        height: 94vh;

        /* dev dimensions scaffolding */
        /* border: 2px solid green; */
    }

    /* hide sidebar when the window is narrow */
    /* IMPORTANT! site is usually open next to code editor */
    /* one tiny monitor dev moment kekw */
    /* (max width was chosen based entirely on my convenience) */
    @media screen and (max-width: 90ch) {
        aside {
            display: none;
        }
    }

    #inside {
        /* overflow-y gives red bar scroll */
        /* and keeps bottom text inside red box */
        overflow-y: auto;
        /* visual */
        padding-left: 1ch;
        padding-right: 2ch;

        margin-top: 1lh;
        /* content 2ch narrower than aside container */
        width: 23ch;

        /* red's height matches green parent */
        /* rather than its own content */
        height: 100%;

        /* dev dimensions scaffolding */
        /* border: 2px dotted red; */
    }

    .box {
        /* --box-border-color: var(--background1); */
    }

    /* shiny navigation highlight */
    ul li:hover,
    ul li:focus {
        background-color: var(--background1);
        a {
            color: var(--gb-purple);
        }
    }

    /* please do not break my stuff */
    li a {
        display: inline-block;
        width: calc(100% - 2ch);
    }
</style>
