---

---

<aside box-="square contain:!top" class="box">
    <span is-="badge" variant-="background0">Contents</span>

    <div id="inside">
        <summary>notes</summary>
        <ul marker-="open tree">
            <li><a href="/html/">HTML</a></li>
            <li><a href="/css/">CSS</a></li>
            <li><a href="/js/">JS</a></li>
            <li><a href="/astro/">Astro</a></li>
            <li><a href="/github/">Github</a></li>
        </ul>

        <br />
        <summary>stack</summary>
        <ul marker-="open tree">
            <li><a href="/books/">Books</a></li>
            <li><a href="/articles/">Articles</a></li>
            <li><a href="/resources/">Resources</a></li>
            <li><a href="/curios/">Curios</a></li>
        </ul>

        <br />
        <summary>test area</summary>
        <ul marker-="open tree">
            <li><a href="/test/">test</a></li>
        </ul>
    </div>
</aside>

<style>
    span {
        /* limit too long sidebar badge */
        overflow-x: hidden;
        max-width: 27ch;
    }

    aside {
        /* fixed sidebar container width because I like it */
        width: 30ch;
        /* keep red content inside box */
        /* aligned with article */
        padding-bottom: 3lh;
        /* pulls up the box border? */
        height: 94vh;

        /* dev dimensions scaffolding */
        /* border: 2px solid green; */
    }

    #inside {
        /* overflow-y gives red bar scroll */
        /* and keeps bottom text inside red box */
        overflow-y: auto;
        /* visual */
        padding-left: 1ch;
        margin-top: 1lh;
        /* content slightly narrower than container */
        width: 27ch;

        /* red's height matches green parent */
        /* rather than its own content */
        height: 100%;

        /* dev dimensions scaffolding */
        /* border: 2px dotted red; */
    }

    .box {
        --box-border-color: var(--background1);
    }
</style>
