---

---

<aside box-="square contain:!top" class="box">
    <span is-="badge" variant-="background0">Contents</span>

    <div>
        <summary>notes</summary>
        <ul marker-="open tree">
            <li><a href="/html/">HTML</a></li>
            <li><a href="/css/">CSS</a></li>
            <li><a href="/js/">JS</a></li>
            <li><a href="/astro/">Astro</a></li>
        </ul>

        <br />
        <summary>stack</summary>
        <ul marker-="open tree">
            <li><a href="/books/">Books</a></li>
            <li><a href="/articles/">Articles</a></li>
            <li><a href="/resources/">Resources</a></li>
            <li><a href="/curios/">Curios</a></li>
        </ul>

        <br />
        <summary>test</summary>
        <ul marker-="open tree">
            <li><a href="/test/">test</a></li>
            <li><a href="/test/">test</a></li>
            <li><a href="/test/">test</a></li>
            <li><a href="/test/">test</a></li>
            <li><a href="/test/">test</a></li>
            <li><a href="/test/">test</a></li>
            <li><a href="/test/">test</a></li>
            <li><a href="/test/">test</a></li>
            <li><a href="/test/">test</a></li>
            <li><a href="/test/">test</a></li>
            <li><a href="/test/">test</a></li>
            <li><a href="/test/">test</a></li>
            <li><a href="/test/">test</a></li>
            <li><a href="/test/">test</a></li>
            <li><a href="/test/">test</a></li>
            <li><a href="/test/">test</a></li>
            <li><a href="/test/">test</a></li>
            <li><a href="/test/">test</a></li>
            <li><a href="/test/">test</a></li>
            <li><a href="/test/">test</a></li>
        </ul>
    </div>
</aside>

<style>
    aside {
        /* width: 100%; */
        /* max-width: 32ch; */
        width: 20ch;
        /* border: 1px solid green; */
    }

    div {
        overflow-y: auto;
        overflow-x: hidden;
        height: 23lh;
        padding: 1ch;
        /* border: 2px dotted red; */
    }

    .box {
        --box-border-color: var(--background1);
    }
</style>
