---

---

<aside box-="square contain:!top" class="box">
    <span is-="badge" variant-="background0">Contents</span>
    <!-- <span is-="badge" variant-="background0">testtesttesttesttesttesttesttesttesttesttest</span> -->

    <div id="inside">
        <summary>notes</summary>
        <ul marker-="open tree">
            <li><a href="/html/">HTML</a></li>
            <li><a href="/css/">CSS</a></li>
            <li><a href="/js/">JS</a></li>
            <li><a href="/astro/">Astro</a></li>
        </ul>

        <br />
        <summary>stack</summary>
        <ul marker-="open tree">
            <li><a href="/books/">Books</a></li>
            <li><a href="/articles/">Articles</a></li>
            <li><a href="/resources/">Resources</a></li>
            <li><a href="/curios/">Curios</a></li>
        </ul>

        
        <!-- <br />
        <summary>test dimensions dimensions dimensions</summary>
        <summary>test dimensions</summary>
        <summary>testtesttesttesttesttesttesttest</summary>
        <ul marker-="open tree">
            <li><a href="/test/">test</a></li>
            <li><a href="/test/"></a></li>
            <li><a href="/test/">test</a></li>
            <li><a href="/test/">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a></li>
            <li><a href="/test/">aaaaaaaa aaaaaaaaaa aaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaa</a></li>
            <li><a href="/test/">test</a></li>
            <li><a href="/test/">test</a></li>
            <li><a href="/test/">test</a></li>
        </ul> -->
        
    </div>
</aside>

<style>
    span {
        overflow-x: hidden;
        max-width: 27ch;
    }

    aside {
        /* is this width really right? */
        width: 30ch;
        padding-bottom: 3lh;
        /* border: 1px solid green; */
    }

    #inside {
        overflow-y: auto;
        max-height: 100%;
        padding-left: 1ch;
        margin-top: 1lh;
        width: 27ch;
        /* border: 2px dotted red; */
    }

    .box {
        --box-border-color: var(--background1);
    }
</style>
