---
// headings destination from browse mdx page: [id].astro
const { headings } = Astro.props;
---

<aside box-="square contain:!top" class="box" id="toc">
    <span is-="badge" variant-="background0">Table of Contents</span>

    <div id="toc-inside">
        <ul>
            {
                headings.map((heading) => (
                    <li class="toc-link">
                        <a
                            href={`#${heading.slug}`}
                            class={`toc-h${heading.depth}`}
                        >
                            {heading.text}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</aside>

<style>
    /* generally matches Files */

    /* - LAYOUT - */
    span {
        /* limit too long badge */
        /* badge 3ch narrower than aside container */
        overflow-x: hidden;
        max-width: 25ch;
    }

    #toc {
        /* fixed container width because I like it */
        width: 28ch;
        /* keep red content inside box */
        /* aligned with article */
        padding-bottom: 3lh;
        /* pulls up the box border? */
        height: 94vh;

        /* FOR TESTING */
        /* border: 2px solid green; */
    }

    #toc-inside {
        /* overflow-y gives red bar scroll */
        /* and keeps bottom text inside red box */
        overflow-y: auto;

        /* visual */
        padding-left: 1ch;
        padding-right: 2ch;

        margin-top: 1lh;
        /* content 2ch narrower than container */
        width: 26ch;

        /* red's height matches green parent */
        /* rather than its own content */
        height: 100%;

        /* FOR TESTING */
        /* border: 2px dotted red; */
    }

    /* - STYLING BOX - */
    .box {
        /* --box-border-color: var(--background1); */
    }

    /* - STYLING LINKS - */
    #toc-inside a {
        /* content: ""; */
        color: var(--gb-green);
        text-decoration: none;
    }

    #toc-inside a:hover {
        text-decoration: underline;
    }

    #toc-inside ul li::before {
        content: "";
    }

    .toc-h2::before {
        content: "##";
    }

    .toc-h3::before {
        content: "###";
    }

    .toc-h4::before {
        content: "####";
    }

    .toc-h5::before {
        content: "#####";
    }

    .toc-h6::before {
        content: "######";
    }
</style>
