---

---

<div class="theme">
    <button id="gruvbox-dark-hard" data-value="gruvbox-dark-hard"
        >gruvbox-dark-hard</button
    >
    <button id="gruvbox-light-soft" data-value="gruvbox-light-soft"
        >gruvbox-light-soft</button
    >
    <button id="catppuccin" data-value="catppuccin">catppuccin</button>
    <button id="nord" data-value="nord">nord</button>
</div>

<script is:inline>
    const buttons = document.querySelectorAll("button");
    const htmlTag = document.querySelector("html");

    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
        let themeName = localStorage.getItem("theme");
        htmlTag.setAttribute("data-webtui-theme", themeName);
    }

    for (let i of buttons) {
        i.addEventListener("click", function () {
            const themeName = i.getAttribute("data-value");
            htmlTag.setAttribute("data-webtui-theme", themeName);
            window.localStorage.setItem("theme", themeName);
        });
    }
</script>
