---
import Header from "../components/Header.astro";
import Catalogue from "../components/Catalogue.astro";
import Article from "../components/Article.astro";

// TABLE OF CONTENTS WIP
import Contents from "../components/Contents.astro";

import "../styles/global.css";
const { path } = Astro.props;
---

<!-- <html lang="en" data-webtui-theme="gruvbox-light-soft"> -->
<html lang="en" data-webtui-theme="gruvbox-dark-medium">
    <!-- <html lang="en" data-webtui-theme="nord"> -->
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <!-- <title>{title}</title> -->
    </head>

    <body>
        <div id="outer">
            <Header />
            <div id="inner">
                <Catalogue />
                <Article path={path}>
                    <slot />
                </Article>
            </div>
        </div>
    </body>
</html>

<style>
    body {
        /* FLOW HELL */
        /* column-gap: 1ch; */
        /* row-gap: 1lh; */
        /* padding-top: 1lh; */
        /* padding-bottom: 1lh; */
        /* padding-left: 2ch; */
        /* padding-right: 2ch; */
    }

    /* FLOW HELL */
    html,
    body {
        display: block;
        /* if window resized too much vertically */
        /* would create a window scroll bar */
        /* right now it's no good */
        overflow-y: hidden;
    }

    #outer {
        /* nav and content are vertical */
        display: block;

        /* dev dimensions scaffolding */
        /* border: 3px solid purple; */
    }

    #inner {
        /* but boxes are horizonal */
        display: flex;

        /* visual */
        column-gap: 1ch;
        row-gap: 1lh;
        padding-left: 1ch;
        padding-right: 1ch;

        /* dev dimensions scaffolding */
        /* border: 3px solid orange; */
    }
</style>
