---
import Header from "../components/Header.astro";
import Files from "../components/Files.astro";
import Article from "../components/Article.astro";
import TableOfContents from "../components/TableOfContents.astro";

import "../styles/global.css";
const { path } = Astro.props;
// markdown file headings float up
const { headings } = Astro.props;
---

<!-- <html lang="en" data-webtui-theme="gruvbox-light-soft"> -->
<html lang="en" data-webtui-theme="gruvbox-dark-medium">
    <!-- <html lang="en" data-webtui-theme="nord"> -->
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <!-- <title>{title}</title> -->
    </head>

    <body>
        <div class="global-outer">
            <Header />
            <div class="global-columns">
                <Files />

                <!-- 5. render the completed Article component-->
                <Article path={path}>
                    <!-- 2. index.astro arrives here -->
                    <!-- make sure only what's intended can be here! -->
                    <!-- <slot name="words" /> -->
                    <slot />
                    <!-- 3. call Article on <Article>'s contents -->
                    <!-- i.e index.astro -->
                </Article>

                <!-- if headings were received by global layout -->
                <!-- i.e page contents were a markdown file -->
                <!-- display toc sidebar and pass headings -->
                {headings && <TableOfContents headings={headings} />}
            </div>
        </div>
    </body>
</html>

<style>
    body {
        /* FLOW HELL */
        /* column-gap: 1ch; */
        /* row-gap: 1lh; */
        /* padding-top: 1lh; */
        /* padding-bottom: 1lh; */
        /* padding-left: 2ch; */
        /* padding-right: 2ch; */

        /* copied from sandbox */
        display: block;
    }

    /* FLOW HELL */
    html,
    body {
        display: block;
        /* if window resized too much vertically */
        /* would create a window scroll bar */
        /* right now it's no good */
        overflow-y: hidden;
    }

    .global-outer {
        /* nav and content are vertical */
        display: block;

        /* dev dimensions scaffolding */
        /* border: 3px solid purple; */
    }

    .global-columns {
        /* but boxes are horizonal */
        display: flex;

        /* visual */
        column-gap: 1ch;
        row-gap: 1lh;
        padding-left: 1ch;
        padding-right: 1ch;

        /* dev dimensions scaffolding */
        /* border: 3px solid orange; */
    }
</style>
