---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import Article from "../components/Article.astro";
import "../styles/global.css";
---

<html lang="en" data-webtui-theme="gruvbox-dark-medium">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>

    <body>
        <!-- FLOW HELL -->
        <section id="outer">
            <Header />
            <section id="inner">
                <Sidebar />
                <!-- <p>flow test</p> -->
                <Article>
                    <slot />
                </Article>
            </section>
        </section>
    </body>
</html>

<style>
    body {
        /* FLOW HELL */
        /* display: flex; */
        /* column-gap: 1ch; */
        /* row-gap: 1lh; */
        /* padding-top: 1lh; */
        /* padding-bottom: 1lh; */
        /* padding-left: 2ch; */
        /* padding-right: 2ch; */
    }

    html,
    body {
        /* FLOW HELL */
        display: block;
        /* overflow-x: hidden; */
        overflow-y: hidden;

        /* height: 100vh; */
        /* width: 100vw; */
    }

    body {
    }

    /* FLOW HELL */
    #outer {
        /* border: 2px solid purple; */
        display: block;
    }
    #inner {
        /* border: 3px solid orange; */
        display: flex;

        /* height: 100vh; */
    }
    /* testing element to delete */
    p {
        width: 30ch;
    }
</style>
